@import "bootstrap/scss/functions";

@import "variables";

@import "bootstrap/scss/mixins";
@import "bootstrap/scss/reboot";

html{
  font-size: 18px;
}

body{
  margin-top: 2rem;
}

.container {
  max-width: map-get($container-max-widths, lg);
  @include make-container();
}

.row {
  @include make-row();
}

@mixin onecol-fakehr {
  border-top: $hr-border-width solid $hr-border-color;
  padding-top: 1em;
}

#content, #sidebar {
  @include make-col-ready();
}

#sidebar {
  @include onecol-fakehr();
}

@include media-breakpoint-up(md){ // ATTENZIONE.
  #content, #sidebar {
    border: none;
  }
  #content {
    @include make-col(9);
  }

  #sidebar {
    @include make-col(3);
    font-size: 0.95rem;
    li li {
      font-size: 0.85rem;
    }
  }
}

#sidebar{
  & > ul {padding: 0;} /* very much needed; otherwise, you'll
   have to reduce font-size accross the whole #sidebar */
  a {text-decoration: none;}
  li {margin-bottom: 0.2em;list-style-type: none;}
  li li{margin-left: -1.2rem;}
}

#content{
  line-height: 1.4;
}

.layout-onecol { // CSS overrides for a single-column layout
  .container {
    max-width: map-get($container-max-widths, md);
  }
  #content, #sidebar{
    @include make-col(12);
    @include onecol-fakehr();
  }

}

.underline{
  // usually used as em.underline, but avoiding overly restrictive selector
  font-style:unset; 
  text-decoration:underline;
}
