@import "bootstrap/scss/functions";

@import "variables";

@import "bootstrap/scss/mixins";
@import "bootstrap/scss/reboot";

html{
  font-size: 18px;
}

body{
  margin-top: 2rem;
}

.container {
  max-width: map-get($container-max-widths, lg);
  @include make-container();
}

.row {
  @include make-row();
}

#content, #sidebar {
  @include make-col-ready();
}


@include media-breakpoint-up(md){ // ATTENZIONE.
  #content {
    @include make-col(9);
  }

  #sidebar {
    @include make-col(3);
    font-size: 0.95rem;
    li li {
      font-size: 0.85rem;
    }
  }

  hr.sema{display:none;}
}

#sidebar{
  & > ul {padding: 0;} /* very much needed; otherwise, you'll
   have to reduce font-size accross the whole #sidebar */
  a {text-decoration: none;}
  li {margin-bottom: 0.2em;list-style-type: none;}
  li li{margin-left: -1.2rem;}
}

#content{
  line-height: 1.4;
}

.underline{
  // usually used as em.underline, but avoiding overly restrictive selector
  font-style:unset; 
  text-decoration:underline;
}