<ul class="nav">
    <li><a href="/">Home</a>
        <ul>
            <li><a href="/about.html">About, licenze, policy</a></li>
        </ul>
    </li>
    <li>Appunti
        <ul>
            <li><a href="/come-scrive-cal.html">Il modo in cui Cal scrive</a></li>
            <li><a href="/latex-snippet.html">Snippet LaTeX</a></li>
            <li><a href="/storiarte.html">StoriArte</a></li>
        </ul>
    </li>
    <li><a href="/blog/">Blog archives</a></li>
    <li>Pirata
        <ul>
          <li><a href="{% link _posts/2014-05-09-meno-entusiasta.text %}">Sempre meno entusiasta</a></li>
          <li><a href="/pirata/liquid-feedback.html">Critica di LiquidFeedback</a></li>
        </ul>
    </li>
</ul>
