<!doctype html>
<html>
<head>
   <title>{{ page.title }} [{{ site.name }}]</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta http-equiv="x-ua-compatible" content="ie=edge">
   <style>{% capture fastercss %}{% include faster.scss %}{% endcapture %}{{ fastercss | scssify }}</style>
   <link rel="alternate" type="application/rss+xml" title="peppelab » blog" href="/feed.xml" />
   <link rel="alternate" type="application/rss+xml" title="peppelab » discarica" href="/a/?type=atom10" />
</head>
<body>
  <div class="container">
    <div class="row">
      <section class="col-md-9" id="content">
{{ content }}
      </section>
      <hr class="sema" />
      <nav id="nav" class="col-md-3">
{% include sidebar.html %}
      </nav>
    </div>
  </div>
</body>
<link rel="stylesheet" href="/full.css" />
<script async type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% include analytics.html %}
</html>
